{% extends "base.html" %}
{% block content %}
<div style="display:none;" class="loader" id="loaderDiv"></div>

<div id="contentDiv">
<div class="jumbotron" id="geneResults">
  <h1>DNA Input</h1>
</div>

<div class="card-deck">
 <div style="background-color:#fdfdfd;" class="card card-outline-primary">
   
  <h3 class="card-header">ABI Sequencing File</h3>

  <div class="card-block">

    <p class="card-text">
        Please select your abi file using the form on the below.
    </p>

    <form style="height:100%;" action="" method="post" name="ABI_File" enctype="multipart/form-data">
      {{ abi_form.hidden_tag() }}
      {{ abi_form.abi_file }}
      <input class="btn btn-primary btn-block btn-sm" type="submit" value="Submit">
    </form>
   
  </div> <!-- block div-->
 </div> <!-- card div-->


</div> <!-- card deck div -->
</div> <!-- content div -->
{% endblock %}


{% block scripts %}
<script>
$( ".btn-primary" ).click(function() {
  document.getElementById("loaderDiv").style.display = "block";
  document.getElementById("contentDiv").style.display = "block";
});
</script>
{% endblock %}
