{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
  <h1>BISC484: Computer Based Genetics Laboratory</h1>
</div>

<div class="card-deck">
  <div class="card">
    <h5 class="card-header">About</h5>
    
    <div class="card-block">
      <p class="card-text">
        This web app was designed to supplement BISC 484 by reproducing some of the data and figures generated during the semester. I hope you find it useful, especially when putting your papers together.
        <br><br>
        If you have any issues, or thoughts about how to make it better, send me an <a href="mailto:sfones@udel.edu?Subject=BISC484%20Web%20App" target="_blank">email</a>. 
      </p>
    </div>
  </div>

  <div class="card">
    <h5 class="card-header">How To</h5>

    <div class="card-block">
      <p class="card-text">
        Using the navigation bar, select protein or gene. If you haven't uploaded a dataset, select the input option from the dropdown. The input pages allow you to enter NCBI Accession Numbers, or upload a FASTA formatted file. Your input will be stored and can be accessed directly by selecting results from the dropdown.
      </p>
    </div>
  </div>
</div>


{% endblock %}
