{% extends "base.html" %}
{% block content %}
    <h2>Welcome, BISC 484 Student!</h2>

    <p>
    This web app was designed to supplement BISC 484 by reproducing some of the data and figures generated during the semester.
    <br>
    Use the menu bars to select protein or genetic data. The input pages allow input via NCBI Accession values or a FASTA-formatted file. Your input will be stored for subsequent visits, and can be accessed directly using the 'Results' menu options.
    </p>
{% endblock %}
