{% extends "base.html" %}
{% block navbar %}
<div id="navSpy"
<ul class="navbar-nav ml-auto">
  <li class="nav-item">
    <a class="navbar-brand nav-link" href="#proResults">Protein Results</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#seqList">Sequence List</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navMSADropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
      MSA
    </a>
    <div class="dropdown-menu" aria-labelledby="navMSADropdown">
      <a class="dropdown-item" href="#msaClustal">Clustal</a>
      <a class="dropdown-item" href="#msaFASTA">FASTA</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#texIdentity">MSA Figure</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" href="#dendroGraphic">Dendrogram</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#subMat">Substitution Matrix</a>
  </li>
</ul>
</div>
{% endblock %}


{% block content %}

<div class="jumbotron" id="proResults">
  <h1>Protein Results</h1>
</div>

<!-- Sequence List -->
<div style="margin-top:15px;background-color:#fefefe;border-color:#492164;border-width:2px" class="card" id="seqList">
  <h3 class="card-header">Sequence List</h3>

  <div class="card-block">
    {% for record in sequenceList %}
      <div>
        <p style="margin-bottom:15px;" class="card-text">
          <b>ID: </b>{{record.id}}<br>
          <b>Name: </b>{{record.name}}<br>
          <b>Description: </b>{{record.description}}<br>
          <b>Sequence: </b><samp style="word-break:break-all;word-wrap:break-word;">{{record.seq}}</samp>
        </p>
      </div>
    {% endfor %}
  </div>
</div>  

<div class="card-deck">
    <!-- MSA: Clustal -->
    <div style="margin-top:15px;background-color:#fefefe;border-color:#42427f;border-width:2px" class="card" id="msaClustal">
      <h3 class="card-header">MSA - Clustal Output</h3>

      <div class="card-block">
        <pre><samp>{% for line in alignmentClustal %}
{{line}}{% endfor %}</samp>
        </pre>
      </div>  
    </div>

    <!-- MSA: FASTA-->
    <div style="margin-top:15px;background-color:#fefefe;border-color:#286289;border-width:2px" class="card" id="msaFASTA">
      <h3 class="card-header">MSA - FASTA Output</h3>

      <div class="card-block">
        <pre><samp>{% for line in alignmentFASTA %}
{{line}}{% endfor %}</samp>
        </pre>
      </div>
    </div>
</div>

<!-- MSA Figure: Identity -->
<div style="margin-top:15px;background-color:#fefefe;border-color:#007ebc;border-width:2px" class="card" id="texIdentity">
  <h3 class="card-header">MSA Figure</h3>

  <div class="card-block">
    <div class="row">
      <div class="col-8">
        <object data={{texIdentityPDF}} type="application/pdf" width="100%" height="500px"> 
          <p>
            There was a problem displaying the pdf. You can 
            download it directly <a href={{texIdentityPDF}}>here</a>
          </p>
        </object>
      </div>

      <div class="col-4 align-self-end">
        <p class="card-text">
          <b>LaTeX Code:</b><br>
          \documentclass[preview]{standalone} <br>
          \usepackage{texshade} <br>
          \usepackage{inconsolata} <br>
          \begin{document} <br>
          \begin{texshade}{alignmentFile.txt} <br>
          \shadingmode[allmatchspecial]{identical}  <br>
          \nomatchresidues{Gray70}{White}{upper}{bf} <br>
          \conservedresidues{Black}{LightCyan}{upper}{bf} <br>
          \allmatchresidues{White}{Red}{upper}{bf} <br>
          \showcaption[bottom]{\textbf{Protein MSA with Identity Highlighting}}  <br>
          \hideconsensus  <br>
          \namesfootnotesize  <br>
          \residuesfootnotesize  <br>
          \numberingtiny<br>
          \showlegend  <br>
          \movelegend{0cm}{0cm} % {Horizontal}{Vertical} Offsets <br>
          \end{texshade}  <br>
          \end{document} <br>
         
          <a style="width:75%;" class="btn btn-primary" target="_blank" href="https://www.overleaf.com/latex/templates/standalone-msa-figure/rbgrxrmctccc" role="button">Modify Template</a>
          <a style="width:20%;" class="btn btn-warning" target="_blank" href="https://docs.google.com/document/d/1ns7LTYtKZAoudeRsHxum8EMMJez6Ejht6_P8hntc6YY/edit?usp=sharing" role="button">Help</a>
        </p>
      </div>
    </div> <!-- row div -->
  </div>
</div>


<div class="row">
  <div class="col-xl-6">
  <!-- Dendrogram: Graphic -->
    <div style="height:100%;margin-top:15px;background-color:#fefefe;border-color:#d6df41;border-width:2px;" class="card" id="dendroGraphic">
      <h3 class="card-header">Dendrogram</h3>

      <div class="card-block">
        <img src={{graphicTree}} class="img-fluid" alt="Dendrogram Figure">	
      </div>
    </div>
  </div>

  <div class="col-xl-6">
    <!-- Substitution Matrix -->
    <div style="height:100%;margin-top:15px;background-color:#fefefe;border-color:#ede040;border-width:2px" class="card" id="subMat">
      <h3 class="card-header">Substitution Matrix</h3>

      <div class="card-block">
        {{singleLtrFrqDiv|safe}}
        <hr>
        {{pairFrqHtMpDiv|safe}}
        <hr>
        {{scoreMatDiv|safe}}


        <!-- Residues By Type Button Modal -->
        <button type="button" style="width:700px;" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#subModal">
          Sort Residues By Type
        </button>

        <!-- Residues by Type Modal -->
        <div class="modal fade" id="subModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="subModalLabel">Substitution Matrix: Ordered by Residue Type</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{resTypeDiv|safe}}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- modal div -->

        <!-- Residues as Text Button Modal -->
        <button type="button" style="width:700px;margin-top:2px;" class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#txtModal">
          Get Matrix as Text
        </button>


        <!-- Residues as TextModal -->
        <div class="modal fade" id="txtModal" tabindex="-1" role="dialog" aria-labelledby="subModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="subModalLabel">Substitution Matrix: Text Formatted</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                {{scoreTable|safe}}
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> <!-- modal div -->
      </div>
    </div>
  </div>
</div>
{% endblock %}
