{% extends "base.html" %}
{% block content %}

    <h2>Protein Input</h2>

    <h3>Accession Input Form</h3>

    <div class="pull-right">    
    <form action="" method="post" name="AccessionVals">
    {{ form.hidden_tag() }}

    {{ form.accessionInput( rows="25" ) }}
	
    <p class="text-right"><input class="btn btn-info" type="submit" value="Submit"></p>

    </form>
    </div>

    <div class="well well-sm">
        <p>
        Enter NCBI Accession values in the form to the right (one per line). 
        <br>
	The pre-populated values correspond to the proteins in the table below.
	<br>
	On subsequent visits, you can skip directly to the results page. To override the saved values, resubmit the form.
        </p>

	<table style="width:60%" class="table table-condensed table-hover">
	    <thead>
	    <tr>
	        <th>Accession Value</th>
		<th>Protein Name</th>
	    </tr>
	    </thead>

	    <tbody>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/4504351">NP_000510.1</a></td>
	        <td>hemoglobin subunit delta [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/NP_000175">NP_000175.1</a></td>
	        <td>hemoglobin subunit gamma-2 [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/4504349">NP_000509.1</a></td>
	        <td>hemoglobin subunit beta [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/28302131">NP_000550.2</a></td>
	        <td>hemoglobin subunit gamma-1 [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/4885393">NP_005321.1</a></td>
	        <td>hemoglobin subunit epsilon [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/4885397">NP_005323.1</a></td>
	        <td>hemoglobin subunit zeta [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/NP_000508">NP_000508.1</a></td>
	        <td>hemoglobin subunit alpha [Homo sapiens]</td>
	    </tr>
            <tr>
                <td><a href="https://www.ncbi.nlm.nih.gov/protein/NP_005322.1">NP_005322.1</a></td>
	        <td>hemoglobin subunit theta-1 [Homo sapiens]</td>
	    </tr>
            <tr>
	        <td><a href="https://www.ncbi.nlm.nih.gov/protein/51510893">NP_001003938.1</a></td>
	        <td>hemoglobin subunit mu [Homo sapiens]</td>
	    </tr>
            <tr>
	        <td><a href="https://www.ncbi.nlm.nih.gov/protein/4885477">NP_005359.1</a></td>
	        <td>myoglobin [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/19549331">NP_599030.1</a></td>
	        <td>cytoglobin [Homo sapiens]</td>
	    </tr>
            <tr>
		<td><a href="https://www.ncbi.nlm.nih.gov/protein/10864065">NP_067080.1</a></td>
	        <td>neuroglobin [Homo sapiens]</td>
	    </tr>
	    </tbody>
	</table>
    </div>

{% endblock %}
