.bioSequence {
    font-family: monospace;
    color: #404040;
    font-size: 12px;
    word-break: break-all;
    word-wrap: break-word;
}

.smallTableFont {
    font-size: 12px;
}

.navLink{
    font-size: 14px;
}
